table.map {
  background-color: black;
  border-collapse: inherit;
  border-spacing: 1px;
}

table.map td.map-cell {
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  font: 10px helvetica;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
