<h2>Map</h2>

<div id="map-holder">
  <table id="map" class="map">
    <tr class="map-row"><td class="map-cell">SNAKE</td><td class="map-cell"> </td><td class="map-cell"> </td></tr>
    <tr class="map-row"><td class="map-cell">mtn.</td><td class="map-cell">tree</td><td class="map-cell">HERO</td></tr>
    <tr class="map-row"><td class="map-cell">mtn.</td><td class="map-cell">tree</td><td class="map-cell">[CHEST]</td></tr>
  </table>
</div>

<ul>
{{#each person in people}}
  <li>Hello {{person.name}}</li>
{{/each}}
</ul>
